body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

header {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

footer{
    background-color: #222;
    padding: 10px;
    color: #FFF;
    
}
